html {
    background-color: rgb(210, 202, 202);
    font-family: 'Playfair Display', Times, serif;
    font-size: larger;
}
body {
    padding: 0;
    width: 1300px;
    margin: 0 auto;
}

section{
    width: 77%;
    float: left;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
}
section h2{
    text-align: center;
}
section p{
    text-align: center;
}
section div{
    padding: 15px;
    margin-right: 5px;
    
}
aside{
    width: 20%;
    float: right;
    /* border: 2px solid black; */
    padding-left: 27px;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    height: 982px;
}
aside p{
    font-size: x-large;
    font-weight: bolder;
    color: gray;
}
aside dt{
    text-decoration: underline;
}
aside dd{
    padding: 5px;
}

header { /* Header Settings*/
    text-align: center;
    margin: auto;
    max-width: 40%;
    padding-right: 140px;
  }
header img { /* Image Changes*/
    float: left;
    width: 120px;
    position: relative;
    left: 126px;
    top: -4px;
  }
footer {
    text-align: center;
    font-size: 80%;
    border-top: 2px solid grey;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    width: 200px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
.active {
    color: rgb(253, 9, 9);
}

.mySlides {
    border: 4px solid black;
}
audio {width: 90%;}
.button-left {margin-top: 15px;}
.button-right {margin-top: 15px}
