html {
    background-color: rgb(210, 202, 202);
    font-family: 'Playfair Display', Times, serif;
    font-size: larger;
}

main {

    border-style: solid;
    border-width: medium;
    padding-bottom: 0px;
    margin: 25px auto;
    width: 900px;
    font-size: medium;
}

.purpose {
    /* Purpose block and its settings*/
    text-align: center;
}

.column h2 {
    text-decoration: underline;
}

.column {
    /* Columns in the middle and their settings*/
    float: left;
    width: 33.33%;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;

}

header {
    /* Header Settings*/
    text-align: center;
    margin: auto;
    max-width: 40%;
    padding-right: 140px;
}

header img {
    /* Image Changes*/
    float: left;
    width: 120px;
    position: relative;
    left: 126px;
    top: -4px;
}

.column a {
    text-decoration: none;
    color: black;
}

.detailedlook {
    border-top: 2px solid black;
}

.detailedlook a {
    text-decoration: none;
    font-size: x-large;
    /* Getting rid of the blue lin
  and making the font a size bigger*/
}

.footer {
    text-align: center;
    font-size: 12px;
}

p {
    font-size: 22px;
    /* Setting Font size for Paragraph element*/
}

.detailedlook p {
    padding-left: 15px;
}
.detailedlook h2 {
    padding-left: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

li {
    float: left;
    display: block;
    text-align: center;
    padding: 1.2% 1%;
}

li a {
    color: white;
    display: block;
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    min-width: 100px;
    font-size: larger;
}

li:hover {
    background-color: #111;
}


.active {
    color: rgb(253, 9, 9);
}
