html {
    background-color: rgb(210, 202, 202);
    font-family: 'Playfair Display', Times, serif;
    font-size: larger;
}

body {
    padding: 0;
    width: 1300px;
    margin: 0 auto;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-top: 4px solid black;
}

section {
    width: 77%;
    float: left;

}

section h2 {
    text-align: center;
}

section p {
    text-align: center;
}

section div {
    padding: 1.875%;
    margin-right: 0.625%;

}

aside {
    width: 20%;
    float: right;
    /* border: 2px solid black; */
    padding-left: 3%;
    /* border-right: 4px solid black;
    border-bottom: 4px solid black; */
    height: 982px;
}

aside p {
    font-size: x-large;
    font-weight: bolder;
    color: black;
}

aside dt {
    text-decoration: underline;
}

aside dd {
    padding: 3%;
}

header {
    /* Header Settings*/
    text-align: center;
    margin: auto;
    max-width: 40%;
    padding-right: 7%;
}

header img {
    /* Image Changes*/
    float: left;
    width: 120px;
    position: relative;
    left: 126px;
    top: -4px;
}

footer {
    text-align: center;
    font-size: 80%;
    border-top: 2px solid grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5% 8%;
    width: 200px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    color: rgb(253, 9, 9);
}

.mySlides {
    border: 4px solid black;
}

audio {
    width: 90%;
}

.button-left {
    margin-top: 1%;
}

.button-right {
    margin-top: 1%
}

footer {
    border-top: 2px solid gray;
    font-size: 12px;
}
