html {
    /* Found out i had to put background image here lol :)*/
    background-image: url(bats.gif);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body {
    max-width: 96em;
    /* Setting width  */
    margin: 0 auto;
    border: .4em solid black;
    /*Border Around the body */
    background-repeat: repeat;
    box-shadow: 1em 1em 3em black, -1em -1em 3em black;
    /* The Shadow*/
    background-color: white;
}

.nav_menu ul {
    list-style: none;
    position: relative;
    background-color: black;
    margin: auto;
    padding: 1em;
    padding-left: 7em;
    text-align: center; /* Text align center for the nav items goes here.*/

}

.nav_menu .current a {
    color: orange;
}

.nav_menu .dropdown ul li {
    width: 12em; /* Adjusted the width of the dropdown to match new text align rather than margin.*/
    text-align: center;
    padding: 1.5em;
}

.nav_menu .dropdown ul {
    padding: 0;
    padding-top: 1em;
}

.nav_menu .dropdown ul li:hover {
    background-color: gray
}

.nav_menu ul li a:hover { /* Personal Change of the color of the text in the nav when hovering*/
   color: beige;
}

.nav_menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
}

.nav_menu ul li {
    float: left;
    width: 15em; /* Created a set with for the list items in nav*/
}

.nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100;
}

/* I Do not understand this !! */
.nav_menu ul ul li {
    float: none;
}

.nav_menu ul li:hover>ul {
    display: block;
}

.nav_menu>ul::after {
    content: "";
    display: block;
    clear: both;
}

nav aside ul {
    list-style-type: none;
    float: left;
    margin-top: 0;
    padding-left: 0em;
    margin-bottom: 40em;
}

nav aside ul li {
    width: 13em;
    margin-bottom: .5em;
    border: .3em solid black;
    background-color: orange;
    margin: 2.5em;

}

nav aside ul li a {
    display: block;
    /* clickable box */
    padding: .7em 0 .7em .7em;
    font-size: 1.5em;
    /* surrounding space */
    text-decoration: none;
    /* links are not underlined */
    font-weight: bold;
    color: black;
}

aside ul li a:hover { /* Moved to appropriate positioning within css file.*/
    background-color: hwb(36 0% 8%);
    color: green;
}

header {
    border-bottom: .3em solid black;
    width: 93em;
    /* Header Linear Gradient Adjustment*/
    padding: 1.5em;
    background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
}


body main h1 {
    font-size: 3.6em;
}
main h2 {
   font-size: 2.6em;
}
main h3 {
    font-size: 2.3em;
}
main p {
    font-size: 1.5em;
}
.a {
    font-weight: 700;
    font-size: 4em;
    margin: 0;
    text-indent: .5em;
}

.b {
    font-weight: 700;
    font-size: 3em;
    text-indent: 1.2em;
    margin-bottom: .3em;
}

 footer {
    border-top: .3em solid black;
    font-size: small;
    height: 2em;
    width: 100%;
    background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
    clear: both;
    /* clearing */
}

/*Scalable Header*/
header img {
    float: left;
    width: 15%;
    height: auto;
    min-width: 4em;
}

/*Scalable cat*/
main img {
    width: 20%;
    height: auto;
}

footer p {
    text-align: center;
    font-size: 1em;
    margin: .4em;
}

main h1::first-letter {
    /* Capitalizing the first letter of the Heading*/
    font-size: 190%;
    font-weight: bold
}

/* i couldnt get bolder to work using this format
   so i resorted to using style element inside of my <p> 
   to get it to work i need help with it :) */
p a {
    font-weight: bolder;
}

/* Link Colors */
a {
    color: orange;

}

