/* type selectors*/
html {
  Page 1 background-image: (-moz-linear-gradient(to bottom, white 0%, #facd8a 100%);
  background-image: (-webkit-linear-gradient(to bottom, white 0%, #facd8a 100%);
  background-image (-o-linear-gradient(to bottom, white 0%, #facd8a 100%);
  background-image: (linear-gradient(to bottom, white 0%, #facd8a 100%);
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 992px;
  background-color: white;
  margin: 15px auto;
  padding: 15px O;
  border: lpx solid black;
}

/* no border radius or box shadow*/
section,
aside,
hl,
h2,
h3,
p {
  margin: O;
  padding: O;
}

section,
aside {
  ...____ __ margin-top: 1.5em;
  margin-bottom: lem;
}

a {
  font-weight: bold;
}

a:link {
  color: #931420;
}

a:visited {
  color: #f2972e;
}

a:hover,
a:focus {
  color: blue;
}

ul {
  margin-top: O;
  margin-bottom: 1.5em;
}

li {
  p {
    font-size: 95%;
    padding-bottom: .35em;
  }

  font-size: 95%;
  adding-bottom: .5em;
}

em {
  font-weight: bold;
}

/* the styles for the header*/
header {
  padding-bottom: 2em;
  border-bottom: 2px solid #f2972e;
}

header img {
  float: left;
  margin-left: 20px;
}

header h2 {
  font-size: 220%;
  color: #f2972e;
  text-shadow: 2px 3px O black;
  margin-left: 120px;
  margin-bottom: .25em;
}

header h3 {
  font-size: 130%;
  font-style: italic;
  margin-left: 120px;
}